fastapi
uvicorn
python-multipart
sqlalchemy
python-jose[cryptography]
passlib[bcrypt]
pydantic
python-dotenv
groq
langchain-groq
langchain
sentence-transformers
chromadb
PyPDF2
python-docx
requests
gtts
pymupdf
pypdf
psycopg2-binary
