fastapi
uvicorn
python-multipart
sqlalchemy
python-jose[cryptography]
passlib[bcrypt]
pydantic
python-dotenv
groq
langchain-groq
langchain
PyPDF2
python-docx
requests
pymupdf
pypdf
psycopg2-binary
edge-tts
